@desktop-l: ~"only screen and (min-width : 1920px)";
@desktop-m: ~"only screen and (min-width : 1600px)";
@desktop-s: ~"only screen and (min-width : 1500px)";

@laptop-xl: ~"only screen and (min-width : 1440px)";
@laptop-l: ~"only screen and (min-width : 1366px)";
@laptop-m: ~"only screen and (min-width : 1280px)";
@laptop-s: ~"only screen and (min-width : 1250px)";

@tablet-xl: ~"only screen and (min-width : 1100px)";
@tablet-l: ~"only screen and (min-width : 1024px)";
@tablet-m: ~"only screen and (min-width : 850px)";
@tablet-s: ~"only screen and (min-width : 768px)";
@tablet-xs: ~"only screen and (min-width : 650px)";

@mobile-xl: ~"only screen and (min-width : 550px)";
@mobile-l: ~"only screen and (min-width : 450px)";
@mobile-s: ~"only screen and (min-width : 390px)";
@mobile-xs: ~"only screen and (min-width : 330px)";

@hover: @tablet-l;

@import "fonts";

//Fonts
@font1: "NeueMontreal-Medium", sans-serif;

.font2R {
  font-family: "moret";
  font-weight: 300;
}

.font2M {
  font-family: "moret";
  font-weight: 400;
}

.fadeIn {
  opacity: 0;
  .transition(all, 600ms);

  &.in_view {
    opacity: 1;
  }
}

//Colors
@color1: #ededed;
@color2: #1c2021;
@color3: #0491b5;
@color4: #7dde92;

.transition(@el: all, @speed: 400ms, @tf: ease, @delay: 0ms) {
  -webkit-transition: @el @speed @tf @delay;
  -moz-transition: @el @speed @tf @delay;
  -o-transition: @el @speed @tf @delay;
  transition: @el @speed @tf @delay;
}

@keyframes noise {
  0% {
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    transform: translate3d(6rem, -5rem, 0);
  }
  100% {
    transform: translate3d(-7rem, 0, 0);
  }
}

.no_scroll {
  overflow: hidden;
}

.noise {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 9999999;
  &::after {
    content: "";
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    background-image: url("../images/noise.png");
    background-position: 50%;
    position: absolute;
    left: -10rem;
    top: -10rem;
    will-change: transform;
    -webkit-animation: noise 1s steps(2) infinite;
    animation: noise 1s steps(2) infinite;
    opacity: 0.8;
  }
}

html {
  background-color: @color1;
}

body,
html {
  //   background-color: @color1;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
  &.loading {
    overflow: hidden;
    &::before {
      content: "";
      position: fixed;
      z-index: 99999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
    }
  }
}

.main_headline {
  font-size: 29vw;
  color: @color1;
  .font2R();
  line-height: 0.68em;
}

.big_headline {
  font-size: 90px;
  color: @color1;
  .font2R();
  line-height: 0.75em;

  @media @tablet-s{
    font-size: 18vw;
  }
}

.medium_headline {
  font-size: 44px;
  .font2R();

  @media @tablet-s{
    font-size: 9.3vw;
  }
}

.small_headline {
  font-size: 30px;
  .font2R();

  @media @tablet-s{
    font-size: 4.6vw;
  }
}

.big_text {
  font-family: @font1;
  color: @color2;
  font-size: 18px;

  @media @tablet-s {
    font-size: 22px;
  }

  @media @laptop-l {
    font-size: 28px;
  }

  @media @desktop-m {
    font-size: 32px;
  }
}

.text {
  font-size: 14px;
  font-family: @font1;
  line-height: 1.2em;

  @media @tablet-s {
    font-size: 16px;
  }

  @media @desktop-m {
    font-size: 22px;
  }
}

.cropped_image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accordions {
  width: 100vw;
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: column;

  @media @tablet-xl{
    height: 100vh;
    flex-direction: row;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: @color2;
    .transition(all, 800ms);
  }

  &.animate {
    &:after {
      width: 100%;
    }
  }

  .single_accordion {
    display: flex;
    overflow: hidden;
    width: 100%;
    transition: all 0.5s ease-in-out;
    position: relative;
    border-bottom: 2px solid @color2;
    flex-wrap: wrap;

    @media @tablet-xl{
      width: 9vw;
      border-right: 2px solid @color2;
      flex-wrap: nowrap;
    }

    &:nth-of-type(even) {
      .accordion_header {
        &:after {
          background-color: @color3;
        }
      }
    }

    &:nth-of-type(odd) {
      .accordion_header {
        &:after {
          background-color: @color4;
        }
      }
    }

    // &.animate{
    //   .accordion_header{
    //     span, p{
    //       opacity: 1;
    //     }

    //     &:before{
    //       height: 100%;
    //     }
    //   }
    // }

    .accordion_header {
      display: flex;
      padding: 15px;
      box-sizing: border-box;
      overflow: hidden;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
      cursor: pointer;

      @media @tablet-xl{
        padding: 10vw 3.55vw;
        padding-top: 3vw;
        width: 100px;
        flex-direction: column;
      }
      

      &:before {
        content: "";
        position: absolute;
        z-index: 0;
        background-color: @color2;
        z-index: 3;
        right: 0;
        top: 0;
        width: 2px;
        height: 0%;
        .transition(all, 600ms);
      }

      @media @desktop-s{
        &:before{
          width: 0.1vw;
        }
      }

      &:after {
        content: "";
        position: absolute;
        z-index: 0;
        right: 0;
        top: 0;
        width: 0%;
        height: 100%;
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%);
        .transition(all, 600ms);
      }

      &:hover {
        &:after {
          width: 100%;
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
      }

      span {
        .text();
        position: relative;
        z-index: 1;
        order: 2;

        @media @tablet-xl{
          order: 1;
        }
        
      }

      p {
        .small_headline();
        position: relative;
        white-space: nowrap;
        z-index: 1;
        order: 1;

        @media @tablet-xl{
          order: 2;
          transform: rotate(-90deg);
        }
      }
    }

    .accordion_content {
      display: none;
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      padding: 15px;
      box-sizing: border-box;

      @media @tablet-xl{
        padding: 0;
      }

      .content{
        margin: 40px 0;
        margin-bottom: 60px;

        @media @tablet-xl{
          margin: 0;
          margin-bottom: 0px;
        }
      }

      span {
        .text();
        position: absolute;
        left: 15px;
        top: 15px;

        @media @tablet-xl{
          left: 2vw;
          top: 3vw;
        }
      }

      .next_acordion,
      .prev_acordion {
        .text();
        display: flex;
        position: absolute;
        align-items: center;
        cursor: pointer;
        right: 45px;
        bottom: 15px;

        @media @tablet-xl{
          right: 4vw;
          bottom: 3vw;
        }

        // img{
        //     width: 1.5vw;
        //     margin-left: 10px;
        //     margin-bottom: 0px;
        //     position: relative;
        //     left: 0px;
        //     .transition();
        // }

        .arrow {
          left: 20px;
          display: inline-block;
          height: 11px;
          position: relative;
          width: 11px;
          -moz-transform: rotate(315deg);
          -ms-transform: rotate(315deg);
          -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
          .transition();

          @media @tablet-xl{
            width: 16px;
            height: 16px;
          }

          &:after {
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-right-style: solid;
            border-right-width: 2px;
            content: "";
            display: inline-block;
            height: 11px;
            left: 0;
            position: absolute;
            top: 0;
            width: 11px;

            @media @tablet-xl{
              width: 16px;
              height: 16px;
            }
          }

          &:before {
            bottom: 1px;
            content: "";
            background-color: @color2;
            height: 16px;
            position: absolute;
            right: 0;
            transform-origin: bottom;
            width: 2px;
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            .transition();

            @media @tablet-xl{
              height: 25px;
            }
          }
        }

        @media @tablet-xl{
          &:hover {
            .arrow{
              left: 25px;
            }
  
            .arrow::before {
              height: 30px;
            }
          }
        }
      }

      .prev_acordion {
        right: auto;
        left: 5px;

        @media @tablet-xl{
          left: 4vw;
        }

        .arrow {
          margin-left: auto;
          margin-right: 40px;
          transform: rotate(135deg);
        }

        @media @tablet-xl{
          &:hover {
            .arrow{
              left: 15px;
            }
  
            .arrow::before {
              height: 30px;
            }
          }
        }
      }

      img {
        margin-bottom: 15px;
        width: 65px;

        @media @tablet-xl{
          margin-bottom: 3.5vw;
          width: 6vw;
        }
      }

      p {
        .big_text();
        max-width: 270px;
        text-align: center;

        @media @tablet-s{
          max-width: 40vw;
        }

        @media @tablet-xl{
          max-width: 40vw;
        }
      }
    }

    &.active {
      width: 100%;
      border-bottom: 2px solid @color2;

      @media @tablet-xl{
        border-right: 2px solid @color2;
      }
      @media @desktop-s{
        &:after{
          width: 0.1vw;
        }
      }

      .accordion_header {
        &:after {
          width: 100%;
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
      }

      .accordion_content {
        display: flex;
      }
    }
  }
}

.banner {
  overflow-x: hidden;
  box-sizing: border-box;
  border-top: 2px solid @color2;
  border-bottom: 2px solid @color2;
  background-color: @color1;
  z-index: 1;
  position: relative;

  .banner_section {
    white-space: nowrap;
    padding: 15px 0;
    box-sizing: border-box;

    @media @tablet-s{
      padding: 2.5vw 0;
    }

    p {
      display: inline-block;
      .big_text();
      color: @color2;
      margin-right: 65px;
      position: relative;

      @media @tablet-s{
        margin-right: 80px;
      }

      &:after {
        content: "";
        height: 25px;
        width: 15px;
        background-color: @color4;
        position: absolute;
        top: 50%;
        right: -35px;
        display: inline-block;
        transform: skewX(-20deg) translateY(-50%);

        @media @tablet-s{
          right: -40px;
        }
      }

      @media @tablet-s{
        &:after{
          height: 35px;
          width: 15px;
        }
      }

      @media @tablet-xl{
        &:after{
          height: 55px;
          width: 25px;
        }
      }
    }
  }
}

.btn {
  background-color: @color3;
  color: @color2;
  padding: 10px 60px;
  box-sizing: border-box;
  font-family: @font1;
  min-height: 35px;
  .transition();
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  padding-top: 12px;
  position: relative;

  @media @tablet-s {
    padding: 18px 75px;
    min-height: 55px;
    font-size: 16px;
    padding-top: 21px;
  }

  span {
    z-index: 1;
    position: relative;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: @color4;
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%);
    .transition(all, 600ms);
  }

  &:hover {
    &:after {
      width: 100%;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }

  @media @desktop-m {
    font-size: 22px;
  }

  //   &:hover {
  //     background-color: @color4;
  //   }

  &.white {
    background-color: transparent;
    border: 2px solid @color1;
    color: @color1;

    @media @tablet-s{
      padding: 18px 117px;
    }

    &:after {
      background-color: @color1;
    }

    &:hover {
      //   background-color: @color1;
      color: @color2;
    }
  }
}

.letter_wrap,
.letter_wrap_scroll {
  .line {
    overflow: hidden;
    line-height: 1em;

    @media @tablet-s{
      line-height: 0.9em;
    }

    .word {
      display: inline-block;

      .char {
        position: relative;
        display: inline-block;
        transform: translate(-0, 0px);

        @media @tablet-l{
          transform: translate(-0, -10px);
        }
      }
    }
  }
}

@import "header";
@import "footer";
@import "home";
@import "about";
@import "portfolio";
@import "scroll";
@import "contact";
@import "single_team";
@import "single_project";
