header{
    height: 100px;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;

    .logo_holder{
        position: absolute;
        left: 2vw;
        top: 50%;
        transform: translateY(-50%);
        width: 9vw;

        img{
            width: 100%;
        }
    }

    nav{
        position: absolute;
        right: 2vw;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;

        ul{
            li{
                margin-right: 2vw;
                display: inline-block;

                a{
                    .text();
                    color: @color1;
                    font-size: 14px;

                    @media @desktop-s{
                        font-size: 18px;
                    }
                }
            }
        }

        .btn.white{
            .text();
            align-items: center;
            padding: 5px 35px;
            box-sizing: border-box;
            display: flex;
            min-height: auto;
            max-height: 45px;
            font-size: 14px;

            @media @desktop-s{
                font-size: 18px;
                max-height: 50px;
            }

            svg{
                position: relative;
                z-index: 1;
                margin-left: 1vw;
                width: 18px;
            }

            &:hover{
                svg{
                    path, line{
                        stroke: @color2
                    }
                }
            }
        }
    }

    &.dark{
        nav{
            ul{
                li{
                    a{
                        color: @color2;
                    }
                }
            }

            .btn{
                border-color: @color2;

                span{
                    color: @color2;
                }

                &:after{
                    background-color: @color2;
                }

                svg{
                    path, line{
                        stroke: @color2;
                    }
                }

                &:hover{
                    span{
                        color: @color1;
                    }

                    svg{
                        path, line{
                            stroke: @color1;
                        }
                    }
                }
            }
        }
    }
}