.home_wrap{

    .home_second_banner{
        border-color: @color1;
        background-color: @color2;

        .banner_section{
            p{
                color: @color1;
            }
        }
    }

    .home_hero{
        position: relative;
        height: 100vh;

        img{
            .cropped_image();
        }

        h1{
            .main_headline();
            position: absolute;
            left: 2vw;
            bottom: 0;
            letter-spacing: -5.5px;
            
        }

        .cta_button{
            position: absolute;
            .big_text();
            right: 11vw;
            cursor: pointer;
            bottom: 5vw;
            z-index: 10;
            color: @color1;
            display: flex;
            flex-direction: column;
            span{
                display: inline-block;
            }

            svg{
                margin-top: 10px;
                position: relative;
                left: 0;
                .transition();
            }

            &:hover{
                svg{
                    left: 5px;
                }
            }
        }
    }

    .first_section{
        padding-top: 5vw;
        padding-left: 5vw;
        box-sizing: border-box;
//         background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
//     background-repeat: repeat;
//   animation: bg-animation .2s infinite;

        .first_section_content{
            display: flex;
            flex-wrap: wrap;

            .left{
                width: 50%;
                // background-color: @color1;

                h2{
                    .medium_headline();
                    color: @color2;
                    margin-bottom: 15vw;
                    line-height: 0.9em;
                }
            }

            .right{
                width: 50%;

                .image_holder_wrap{
                    width: 41vw;
                    z-index: -1;
                    position: fixed;
                    right: 50px;
                    top: 10vw;

                    .image_holder{
                        position: relative;
                        overflow: hidden;
                        padding-top: 100%;

                        img{
                            .cropped_image();
                        }
                    }
                }
                
            }
        }
    }

    .second_section{
        background-color: @color1;

        .second_section_content{
            padding-left: 5vw;
            padding-bottom: 10vw;
            box-sizing: border-box;

            h2{
                color: @color2;
                font-size: 29vw;
                letter-spacing: -5.5px;
                .font2R();
                position: relative;
                top: -15vw;
            }

            .image_text_section{
                display: flex;
                flex-wrap: wrap;
                padding: 0 7vw;
                box-sizing: border-box;
                margin-top: -5vw;

                .left{
                    width: 35%;

                    .image_holder{
                        position: relative;
                        padding-top: 79%;

                        &:after{
                            content: '';
                            position: absolute;
                            background-color: #fff;
                            -webkit-transform: skewX(-20deg);
                            transform: skewX(-15deg);
                            width: 6vw;
                            height: 15vw;
                            display: block;
                            z-index: 1;
                            top: 0;
                            left: -3vw;
                        }

                        &:before{
                            content: '';
                            position: absolute;
                            background-color: #fff;
                            -webkit-transform: skewX(-20deg);
                            transform: skewX(-15deg);
                            width: 6vw;
                            height: 15vw;
                            display: block;
                            z-index: 1;
                            bottom: -5vw;
                            right: -2vw;
                        }

                        img{
                            .cropped_image();
                        }
                    }

                }

                .right{
                    width: 65%;
                    display: flex;
                    align-items: center;
                    padding-left: 15vw;
                    box-sizing: border-box;

                    .right_content{
                        max-width: 450px;

                        p{
                            .text();
                            color: @color2;                            
                            margin-bottom: 40px;
                            line-height: 1.4em;
                        }
                    }
                }
            }
            
        }
    }

    .third_section{
        background-color: @color1;
        position: relative;

        .image_holder_top{
            position: absolute;
            right: 8vw;
            top: -3vw;
            width: 15vw;
            height: 15vw;

            .image_holder{
                position: relative;
                padding-top: 100%;
                overflow: hidden;

                img{
                    .cropped_image();
                }
            }
        }

        .image_holder_bottom{
            position: absolute;
            right: 3vw;
            bottom: 3vw;
            width: 25vw;

            .image_holder{
                position: relative;
                padding-top: 77%;
                overflow: hidden;

                img{
                    .cropped_image();
                }
            }
        }

        .third_section_content{
            display: flex;
            flex-wrap: wrap;
            padding-top: 7vw;
            padding-bottom: 18vw;
            box-sizing: border-box;

            .left{
                width: 40%;

                .image_holder{
                    position: relative;
                    padding-top: 102%;
                    overflow: hidden;

                    img{
                        .cropped_image();
                    }
                }
            }

            .right{
                width: 60%;
                display: flex;
                padding-left: 7vw;
                box-sizing: border-box;
                align-items: center;

                .right_content{
                    max-width: 35vw;

                    h2{
                        .small_headline();
                        color: @color1;
                        margin-bottom: 40px;
                    }

                    p{
                        .text();
                        color: @color1;
                        margin-bottom: 40px;
                        line-height: 1.4em;
                    }
                }
            }
        }
    }

    .fourth_section{
        background-color: @color2;

        .fourth_section_content{
            display: flex;
            flex-wrap: wrap;

            .left{
                width: 55%;
                padding: 4vw 0;
                box-sizing: border-box;
                padding-left: 5vw;
                display: flex;
                align-items: center;

                h2{
                    .medium_headline();
                    color: @color1;
                    
                }
            }
            
            .right{
                width: 45%;
                border-left: 2px solid @color1;
                box-sizing: border-box;

                .single_item{
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    padding: 1vw;
                    border-bottom: 2px solid @color1;

                    .icon{
                        width: 7vw;

                        img{
                            width: 100%;
                            object-fit: contain;
                        }
                    }

                    h3{
                        .small_headline();
                        color: @color1;
                        margin-left: 40px;
                    }

                }
            }
        }
    }

    .fifth_section{
        background-color: @color1;

        .fifth_section_content{
            height: 100vh;
            position: relative;

            .content{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                text-align: center;

                h2{
                    .big_headline();
                    margin-bottom: 4vw;
                    opacity: 0;
                    transform: scale(0);
                }
            }

            p{
                .text();
                position: absolute;
                z-index: 2;
                color: @color2;

                &.left{
                    left: -30px;
                    top: 50%;
                    transform: translateY(-50%) rotate(-90deg);
                }

                &.right{
                    right: -30px;
                    top: 50%;
                    transform: translateY(-50%) rotate(90deg);
                }
            }

            .image_holder{
                z-index: 2;
                width: 40vw;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) skewX(-15deg);
                position: absolute;
                overflow: hidden;
                height: 40vh;
                
                img{
                    .cropped_image();
                    width: 100vw;
                    height: 100vh;
                    transform: translate(-50%, -50%) skewX(15deg);
                    left: 50%;
                    top: 50%;
                }
            }
        }
    }

    .sixth_section{
        background-color: @color1;

        .sixth_section_content{
            .accordion_headline{
                box-sizing: border-box;
                text-align: right;
                border-top: 2px solid @color2;
                border-bottom: 2px solid @color2;
                padding-top: 7vw;
                padding-bottom: 20px;
                padding-left: 10vw;
                padding-right: 7vw;
                position: relative;

                &:after{
                    content: '';
                    position: absolute;
                    background-color: #fff;
                    -webkit-transform: skewX(-20deg);
                    transform: skewX(-15deg);
                    width: 6vw;
                    height: 15vw;
                    display: block;
                    z-index: 1;
                    bottom: 0;
                    left: 25vw;
                }

                &:before{
                    content: '';
                    position: absolute;
                    background-color: #fff;
                    -webkit-transform: skewX(-20deg);
                    transform: skewX(-15deg);
                    width: 6vw;
                    height: 15vw;
                    display: block;
                    z-index: 0;
                    top: 0vw;
                    right: 15.5vw;
                }

                h2{
                    .font2R();
                    .medium_headline();
                    position: relative;
                    z-index: 2;
                }
            }
            
            .accordions{
                width: 100vw;
                height: 100vh;
                display: flex;

                .single_accordion{
                    display: flex;
                    overflow: hidden;
                    width: 9vw;
                    .transition();

                    &:nth-of-type(even){
                        .accordion_header{
                            &:after{
                                background-color: @color3;
                            }
                            
                        }
                    }

                    &:nth-of-type(odd){
                        .accordion_header{
                            &:after{
                                background-color: @color4;
                            }
                        }
                    }

                    .accordion_header{
                        display: flex;
                        padding: 10vw 3.5vw;
                        padding-top: 3vw;
                        box-sizing: border-box;
                        border-right: 2px solid @color2;
                        overflow: hidden;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        width: 100px;
                        position: relative;
                        cursor: pointer;

                        &:after{
                            content: '';
                            position: absolute;
                            z-index: 0;
                            right: 0;
                            top: 0;
                            width: 0%;
                            height: 100%;
                            clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%);
                            .transition(all, 600ms);
                        }
                        

                        &:hover{
                            &:after{
                                width: 100%;
                                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
                            }
                        }

                        span{
                            .text();
                            position: relative;
                            z-index: 1;
                        }

                        p{
                            .small_headline();
                            position: relative;
                            white-space: nowrap;
                            transform: rotate(-90deg);
                            z-index: 1;
                        }
                    }   

                    .accordion_content{
                        display: none;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        position: relative;

                        span{
                            .text();
                            position: absolute;
                            left: 2vw;
                            top: 3vw;
                        }

                        .next_acordion, .prev_acordion{
                            .text();
                            display: flex;
                            position: absolute;
                            align-items: center;
                            cursor: pointer;
                            right: 2vw;
                            bottom: 3vw;

                            img{
                                width: 1.5vw;
                                margin-left: 10px;
                                margin-bottom: 0px;
                                position: relative;
                                left: 0px;
                                .transition();
                            }

                            &:hover{
                                img{
                                    left: 5px;
                                }
                            }
                        }

                        .prev_acordion{
                            right: auto;
                            left: 2vw;

                            img{
                                margin-left: auto;
                                margin-right: 10px;
                                transform: rotate(180deg);
                            }
                        }

                        img{
                            margin-bottom: 3.5vw;
                            width: 6vw;
                        }
                        

                        p{
                            .big_text();
                            max-width: 40vw;
                            text-align: center;
                        }
                        
                    }

                    &.active{
                        width: 100%;
                        border-right: 2px solid @color2;

                        .accordion_header{
                            &:after{
                                width: 100%;
                                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
                            }
                        }
                        

                        .accordion_content{
                            display: flex;
                        }
                    }
                }
            }
        }
    }

    .seventh_section{
        position: relative;

        img{
            .cropped_image();
            object-position: right;
        }

        .seventh_section_content{
            position: relative;
            z-index: 1;
            text-align: center;
            padding: 10vw 2vw;
            box-sizing: border-box;

            h2{
                .big_headline();
                color: @color1;

                &:nth-of-type(2){
                    padding-left: 22vw;
                }
            }

            .btn{
                margin-top: 7vw;
            }


        }
    }
}