.services_wrap {
  .service_hero {
    background-color: @color2;
    height: 100vh;
    overflow: hidden;

    position: relative;

    h1 {
      .big_headline();
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 10;
    }

    .image_slider {
      display: flex;
      overflow: auto;
      flex-direction: column;
      align-items: center;

      .image_holder {
        position: relative;
        overflow: hidden;
        padding-top: 40%;
        width: 60vw;
        margin-bottom: 40px;
        transform: skewY(-5deg);

        img {
          .cropped_image();
          top: -10%;
          width: 120%;
          height: 120%;
          transform: skewY(5deg);
          margin: 0 -10%;
        }
      }
    }
  }

  .second_section {
    background-color: @color2;
    border-top: 2px solid @color1;
    padding: 9vw 0;
    box-sizing: border-box;

    .description {
      margin: auto;
      margin-top: 5vw;
      max-width: 42.5vw;
      text-align: center;

      p {
        .text();
        color: @color1;
        margin-bottom: 40px;
      }
    }

    .second_section_content {
      display: flex;
      position: relative;

      &:after {
        content: "";
        height: 50%;
        left: 50%;
        top: 80%;
        background-color: @color1;
        width: 2px;
        transform: translate(-50%, -50%);
        position: absolute;
      }

      .middle_info {
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        z-index: 1;

        p {
          text-align: center;
          .big_text();
          color: @color1;
        }
      }

      .left,
      .right {
        width: 50%;
        box-sizing: border-box;

        .image_holder {
          padding-top: 65%;
          position: relative;
          overflow: hidden;
          max-width: 27vw;
          margin: auto;
          opacity: 0.3;
          .transition();

          img {
            .cropped_image();
            transform: scale(1);
            .transition();
          }
        }

        &:hover {
          .image_holder {
            opacity: 1;
            img {
              transform: scale(1.03);
            }
          }
        }

        h2 {
          .medium_headline();
          position: relative;
          color: @color1;
          text-align: center;
          top: -5vw;
          white-space: nowrap;
        }
      }
    }
  }



  .third_section {
    height: 100vh;
    position: relative;
    overflow: hidden;

    .third_section_conetnt {
      .service_accordions {

        .single_accordion {
          border-top: 2px solid @color2;
          top: 100%;
          position: absolute;
          width: 100%;
          background: @color1;
          overflow: hidden;

          .single_accordion(6);

          .single_accordion(@n, @i: 1, @test: 6) when (@i =< 6) {
            
            @result: (@test) * 47px;
            
            &:nth-child(@{i}) {
              transform: translateY(-@result);
            }
            
            .single_accordion(@n,(@i + 1), (@test - 1));
          }

          &:nth-child(1) {
            top: 0;
            transform: translateY(0px);
          }

          .accordion_headline {
            padding: 10px 50px;
            box-sizing: border-box;
            display: flex;
            position: relative;
            justify-content: space-between;
            background-color: @color1;
            z-index: 100;
            min-height: 47px;
            align-items: center;

            .counter,
            p {
              .text();
            }
          }

          .accordion_contenet {
            padding: 0 4vw;
            box-sizing: border-box;

            .content_header{
              text-align: center;
              padding-top: 12vw;
              padding-bottom: 12vw;
              box-sizing: border-box;

              h2 {
                .big_headline();
                text-align: center;
                color: @color2;
                margin-bottom: 8vw;
                
                .line{
                  line-height: 1.14em;
                }
              }

              video{
                max-width: 20vw;
                margin-bottom: 4vw;
              }

              .big_description{
                .big_text();
                max-width: 780px;
                margin: auto;
              }
            }
            .blurb_content{
              margin-top: 10vw;

              .blurb_description{
                padding-top: 7vw;
                padding-bottom: 7vw;
                box-sizing: border-box;
                position: relative;

                &:after {
                  content: "";
                  position: absolute;
                  background-color: #fff;
                  transform: skewX(-15deg) translateX(-50%);
                  width: 10vw;
                  height: 100%;
                  display: block;
                  z-index: 1;
                  top: 0;
                  left: 50%;
                }

                h3{
                  .small_headline();
                  color: @color2;
                  position: relative;
                  z-index: 2;
                }
              }
  
              .blurb_section{
                display: flex;
                justify-content: space-between;
                text-align: left;
  
                .single_blurb{
                  max-width: 400px;
  
                  h3{
                    .big_text();
                    margin-bottom: 30px;
                  }
  
                  p{
                    .text();
                  }
                }
              }
            }

            .image_text_section {
              display: flex;
              flex-wrap: wrap;
              box-sizing: border-box;
              margin-top: 12vw;
              padding-right: 5vw;
              padding-left: 5vw;
      
              .left {
                width: 100%;
                margin: auto;
      
                @media @tablet-s{
                  margin: 0;
                  width: 50%;
                }

                .featured, .project_name{
                  .text();
                }

                .featured{
                  display: inline-block;
                  text-align: left;
                  left: -7.5vw;
                  margin-bottom: 5px;
                  position: relative;
                }
                
                .project_name{
                  text-align: right;
                  margin-top: 5px;
                  display: inline-block;
                  text-align: left;
                  right: -7.5vw;
                  position: relative;
                }

                .image_holder {
                  position: relative;
                  padding-top: 79%;
      
                  &:after {
                    content: "";
                    position: absolute;
                    background-color: #fff;
                    -webkit-transform: skewX(-20deg);
                    transform: skewX(-15deg);
                    width: 35px;
                    height: 100px;
                    display: block;
                    z-index: 1;
                    top: 0;
                    left: -20px;
      
                    @media @tablet-s{
                      width: 6vw;
                      height: 15vw;
                      top: 0;
                      left: -1vw;
                    }
                  }
      
                  &:before {
                    content: "";
                    position: absolute;
                    background-color: #fff;
                    -webkit-transform: skewX(-20deg);
                    transform: skewX(-15deg);
                    width: 35px;
                    height: 100px;
                    display: block;
                    z-index: 1;
                    bottom: -40px;
                    right: -10px;
      
                    @media @tablet-s{
                      bottom: -5vw;
                    right: 0vw;
                      width: 6vw;
                      height: 15vw;
                    }
                  }
      
                  img {
                    .cropped_image();
                  }
                }
              }
      
              .right {
                width: 100%;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                margin-top: 50px;
                text-align: center;
      
                @media @tablet-s{
                  width: 50%;
                  padding-left: 10vw;
                  margin-top: 0px;
                  text-align: left;
                }
      
                .right_content {

                  h3{
                    .medium_headline();
                    margin-bottom: 40px;
                    text-align: left;

                  }
                  
      
                  p {
                    .text();
                    color: @color2;
                    margin-bottom: 20px;
                    line-height: 1.4em;
      
                    @media @tablet-s{
                      margin-bottom: 40px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
